* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#categories {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
      padding: 24px;
      width: 440px;
      background: #fff;
}

.item {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
      padding: 16px;
      width: 392px;
      height: auto;
      background: #f6f6fe;
}

.item-heding {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 0;
}

.item-list {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.item-subitem {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    width: 360px;
      height: 40px;
      border: 1px solid;
      padding: 8px 16px;
}


.gallery-item {
  max-width: 360px;
  height: auto;
}

.gallery-item-inner {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}


#name-input {
  width: 360px;
  height: 40px;
  border-radius: 5px;
}
#name-input::placeholder {
font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

#name-output {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-heding {
  margin: 0;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  height: 256px;
}

.form-label {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #808080;
}

.form-btn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    border: none;
}



.widget {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 169px;
    height: 80px;
}

.background-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
      font-size: 16px;
    line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
}
 